{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

    {% for post in posts %}
    <div style="display: grid; padding-left: 4rem;"><p>
        <h2 style="color: rgb(192, 42, 42);">{{post.titulo}}</h2>
        <p style="color: rgb(90, 88, 88);">{{post.contenido}}</p>
        <div style="font-size: 0.8em; text-align: left;">
            Autor: {{post.autor}}
        </div>
        <p><img src="{{post.imagen.url}}" style="width: 35%; "></p>
        
    </div>

    {% endfor %}
    <section>
        <div style="width: 75vw; margin: auto; color: rgb(192, 42, 42); text-align: center; font-size: 1.2em;">
            <h4>Categorias:</h4>

            {% for post in posts %}

                {% for categoria in post.categorias.all %}

                {{categoria.nombre}}  &nbsp;&nbsp;&nbsp;

                {% endfor %}


            {% endfor %}
        </div>
    </section>

{% endblock %}