{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}
<body>
<main id="we-are" style="padding-left: 5rem; padding-right: 5rem;">
  <h1 class="welcome">Welcome to our website</h1>
  <h2 class="welcome">We are your best choise :)</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Quibusdam nam exercitationem a consequuntur suscipit molestias dicta adipi
    sci illum similique. Voluptas neque dolorum veritatis illum cumque velit te
    mpora suscipit voluptates tenetur! Lorem ipsum dolor, sit amet consectetur adipisicing elit
    . Earum aspernatur unde et veniam ipsam labore, nisi officiis beatae eos fuga incidunt animi
     debitis rem. Optio reprehenderit neque accusantium eos minima. Lorem, ipsum dolor sit amet co
     nsectetur adipisicing elit. Molestias, illum optio! Provident neque consequatur, itaque earum 
     id minima voluptate quos illum. Natus in enim autem! Ex at cum dolores alias? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Non, necessitatibus. Labore magnam et enim eligendi ducimus s
      apiente quos odit. Explicabo repellendus molestiae eos? Perferendis ducimus, pariatur explicabo error enim modi.</p>
    <h2 class="welcome">Who we are?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam nam exercitationem a consequuntur suscipit molestias dicta adipi
      sci illum similique. Voluptas neque dolorum veritatis illum cumque velit te
      mpora suscipit voluptates tenetur! Lorem ipsum dolor, sit amet consectetur adipisicing elit
      . Earum aspernatur unde et veniam ipsam labore, nisi officiis beatae eos fuga incidunt animi
       debitis rem. Optio reprehenderit neque accusantium eos minima. Lorem, ipsum dolor sit amet co
       nsectetur adipisicing elit. Molestias, illum optio! Provident neque consequatur, itaque earum 
       id minima voluptate quos illum. Natus in enim autem! Ex at cum dolores alias? Lorem ipsum dolor sit
        amet consectetur, adipisicing elit. Non, necessitatibus. Labore magnam et enim eligendi ducimus s
        apiente quos odit. Explicabo repellendus molestiae eos? Perferendis ducimus, pariatur explicabo error enim modi.</p>
      <h2 class="welcome">What are you waiting?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quibusdam nam exercitationem a consequuntur suscipit molestias dicta adipi
        sci illum similique. Voluptas neque dolorum veritatis illum cumque velit te
        mpora suscipit voluptates tenetur! Lorem ipsum dolor, sit amet consectetur adipisicing elit
        . Earum aspernatur unde et veniam ipsam labore, nisi officiis beatae eos fuga incidunt animi
          debitis rem. Optio reprehenderit neque accusantium eos minima. Lorem, ipsum dolor sit amet co
          nsectetur adipisicing elit. Molestias, illum optio! Provident neque consequatur, itaque earum 
          id minima voluptate quos illum. Natus in enim autem! Ex at cum dolores alias? Lorem ipsum dolor sit
          amet consectetur, adipisicing elit. Non, necessitatibus. Labore magnam et enim eligendi ducimus s
          apiente quos odit. Explicabo repellendus molestiae eos? Perferendis ducimus, pariatur explicabo error enim modi.</p>
    </main>
</body>
{% endblock %}